 
/*contenery dla wszystkich stron*/

 body
 {
    background-color: white;
    /*background-image: url("img/what-the-hex.png");*/
    color:black;
    font-family: 'Open Sans';
    font-size: 20px;
 }

 nav
 {
    background-color: #fff;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 2;
    top:0px;
 }

 .menu
 {
    list-style-type: none;
    margin: 0px;
    font-size: 18px;
    min-height: 40px;
    line-height: 200%;
    font-family: 'Open Sans', sans-serif;
 }

 .menu > li
 {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
 }

 .menu a
 {
    color: #000000;
    text-decoration: none;
    border;
    opacity: 0.8;
 }

 .menu a:hover
 {
    background-color: #FFA500;
    cursor:pointer;
 }


    h3
    {
        font-size: 44px;
        margin-bottom: 20px;
    }

.o_nas
    {
        text-align: center;
        padding-top: 120px;
        margin-left:auto; 
        margin-right:auto;
        width: 950px;
    }

.entry

{
    background-color: #fff;
    padding: 10px;
    margin-top: 40px;
    border-radius: 5px;
    width:50%;
    float:left;
    text-align: justify;
}

.o_nas_img
{
  display:inline-block;
  margin-left: 10px;
  width: 100px;
  float:left;
}

.o_nas_img img
{
    height:90px;
    width:90px;
}

.o_nas_txt
{
    padding: 10px;
    text-align: justify;
    margin-top: 20px;
    border-radius: 5px;
    display:inline-block;
    width: 200px;
}

.o_nas_all
{
    float:left;
    width:45%;
    background-color: #fff;
    padding: 10px;
    margin-top: 40px;
    border-radius: 5px;
    margin-left:auto; 
    margin-right:auto;
}

  #nasze_piwa
    {
        text-align: center;
        padding-top: 10px;
        margin-left:auto; 
        margin-right:auto;
        width: 100%;
        background-color: #eee;
    }

    #kontakt
    {
        text-align: center;
        padding-top: 20px;
        margin-left:auto; 
        margin-right:auto;
        background-color: black;
        color: white;
        padding-bottom: 20px;
    }

    #container_kontakt

{
    background-color: white;
    margin-top: -470px;
    width: 300px;
    padding:60px;
    margin-left:auto; 
    margin-right:0px;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(0,0,0,0.9);
    -moz-box-shadow: 3px 3px 30px 5px rgba(0,0,0,0.9);
    box-shadow: 3px 3px 30px 5px rgba(0,0,0,0.9);
    height: 350px;
}


/*kontakt*/
/*przyciski*/

input
{
    width: 300px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;
}

input[type=submit]
{
    width: 300px;
    background-color: #ED9121;
    font-size: 20px;
    color:white;
    padding: 15px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    margin-top: 20px;
}

textarea
{
    width: 300px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;
}

/*obramowanie/cień dla pól formularza, gdy aktywne*/

input:focus
{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    border: 2px solid #ED9121;
    background-color: #ED9121;

}

textarea:focus

{
   -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    border: 2px solid #ED9121;
    background-color: #ED9121;  
}

input[type=submit]:hover
{
    background-color: #DC8010;
}

textarea:hover
{
     background-color: #DC8010;
}

input[type=submit]:focus
{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
}

textarea:focus
{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
}



/*klasy dla zdjęć w galerii*/

.gallery
{
    display: inline-block;
    width: 460px;
    text-align: center;
    padding: 5px;
}

.gallery p
{
    padding: 0px;
    margin-top: 0px;
}

.photo
{
    width: 450px;
    transition: transform 0.2s ease-in-out;
}

.overlay

{
    position:relative;
    width: 450px;
    height: 100%;
}

.overlay .link
{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%; /*wysokość*/
    background-color: #111;
    left:0px;
    bottom:0px;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
}

.overlay .link img
{
    height:40px;
    width:40px;
}

.overlay .link
{

    background-color: #111;
   
}
.overlay:hover .link

{
    opacity: 0.9;
}

.photo:hover
{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.circle-wraper {
    position: relative;
    width:40px;
}

.circle {
    width: 0px;
    height: 0px;
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    top:185px;
    left:25px;
    background: black;
    border-radius: 50%;
    color: black;
}

.circle-wrapper:before {
    content:'';
    display: block;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position:absolute;
    top:160px;
    left:0px;
}

.circle-wraper2 {
    position: relative;
    width:60px;
}

.circle2 {
    width: 0px;
    height: 0px;
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    top:245px;
    left:25px;
    background: black;
    border-radius: 50%;
    color: black;
}


.circle-wrapper2:before {
    content:'';
    display: block;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position:absolute;
    top:220px;
    left:0px;
}

.circle-wraper3 {
    position: relative;
    width:60px;
}

.circle3 {
    width: 0px;
    height: 0px;
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    top:305px;
    left:25px;
    background: black;
    border-radius: 50%;
    color: black;
}

.circle-wrapper3:before {
    content:'';
    display: block;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position:absolute;
    top:280px;
    left:0px;
}

.sign
{
    margin-left:65px;
    padding-top: 20px;
}

.sign2 
{
    margin-left:65px;
    padding-top: 40px;

}

.sign3
{
    margin-left:65px;
    padding-top: 40px;
}


.socials
{
    width:20%;
    text-align: center;
    background-color: #191d21;
}

.socialdivs
{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 465px;
}

.fb
{
    width: 200px;
    height: 155px;
    float:left;
}

.fb:hover
{
    background-color: #4668b3;
}

.yt
{
    width: 200px;
    height: 155px;
    float:left;
}

.yt:hover
{
    background-color: #d94348;
}

.tw
{
    width: 200px;
    height: 155px;
    float:left;
}

.tw:hover
{
    background-color: #3095d3;
}